.footer
    min-height: 166px
    background-color: #1a1a1a
    padding: 61px 0 59px 0
    &__splitter
        height: 15px
        width: 1px
        margin: 0 5px        
        background-color: #888888

    &_links
        display: flex
        justify-content: center
        align-items: flex-end
        a
            display: block
            color: #888888
            font-size: 15px
            font-weight: 300
            border-bottom: 1px solid #888888
            line-height: 0.9
            &:hover
                text-decoration: none
    &__call-us
        text-align: center
        margin-top: 11px
        color: #888888
        font-size: 15px
        font-weight: 300

@media ( max-width: 394px)
    .footer
        &__splitter
            display: none
        &_links
            flex-direction: column
            a
                font-size: 17px
                margin: 7px auto
                padding: 3px 0
    